.locationGrid {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr 1fr;
  width: 55%;
  margin: auto;
  padding-top: 8%;
}
.locationCardWrapper {
  margin-top: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.locationImage {
  width: 100%;
  height: auto;
}
.locationTitle {
  text-align: center;
  font-size: clamp(1rem, 1.5vw, 2.2rem);
  font-family: "Montserrat", sans-serif;
}
.locationCity {
  font-size: 1.2rem;
}
.locationSummary {
  font-size: 1rem;
}
.locationSummaryWrapper {
}
@media (max-width: 1600px) {
  .locationGrid {
    grid-template-columns: 1fr;
  }
  .locationTitle {
    font-size: 3.5rem;
  }
}
