.createEventFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 35%;
  height: 80vh;
  background: white;
  z-index: 4;
}
.eventFormOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 3;
}
.createEventFormContainer label {
  padding-bottom: 2%;
}
.closeEventFormButton {
  position: absolute;
  font-size: 2.5rem;
  top: 0;
  right: 20px;
  cursor: pointer;
  color: black;
}
.closeEventFormButton:hover {
  color: red;
}
.dateWrapper {
  display: flex;
}
.titleAndVenue {
  width: 40%;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dateWrapper {
  width: 60%;
}
.dates {
  padding: 5%;
}
.descriptionWrapper {
  width: 100%;
}
.summary {
  width: 70%;
  height: 40px;
  padding: 10px;
  margin-bottom: 2%;
}
.description {
  width: 70%;
  height: 200px;
  padding: 10px 20px;
}
