.adminCardsContainer {
  display: flex;
  width: 90%;
  max-height: 100vh;
  padding-top: 4.6%;
  padding-left: 1%;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.adminCardsContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.adminCardsContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
