.sidebarFilter {
  width: 250px;
  height: 100vh;
  background: rgb(124, 178, 230);
  padding-top: 6%;
}
.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filterContainer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}
#editEventList li {
  list-style: none;
  cursor: pointer;
}
#editEventList li:hover {
  color: white;
  transform: scale(1.2);
}
.checkbox {
  cursor: pointer;
}
