.liveEventCardWrapper {
  width: 65%;
  margin: auto;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 900px) {
  .liveEventCardWrapper {
    margin-top: 10%;
  }
}

@media (max-width: 600px) {
  .liveEventCardWrapper {
    margin-top: 20%;
  }
}
