.header {
  position: fixed !important;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7) !important;
  /* padding-top: 1%; */
  padding-left: 3%;
  padding-right: 3%;
  z-index: 1;
}
.logo_icon {
  width: 110px;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
.navbar-expand-lg {
  justify-content: space-between !important;
  align-items: baseline !important;
}
.signupLink {
  cursor: pointer;
  font-size: 23px !important;
}
.signupLink:hover {
  color: gold !important;
}
@media only screen and (max-width: 990px) {
  .navbar {
    /* flex-wrap: nowrap !important; */
  }
}
.headerNavLinks {
  text-decoration: none !important;
  font-size: 23px !important;
  color: white !important;
  padding-left: 15px !important;
  cursor: pointer;
}
.headerNavLinks:hover {
  color: gold !important;
}
.navbar-nav {
  text-align: center;
}
.userLogo {
  width: 40px;
  height: auto;
}
.userLogo:hover {
  filter: grayscale();
}
