.adminWrapper {
  background: rgb(190, 190, 190);
}
.displayWrapper {
  display: flex;
}
.formComponentWrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.createEventButton {
  position: absolute;
  top: 100px;
  right: 100px;
}
