.adminEventCardDate {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
  background: white;
  margin-left: 3%;
  margin-top: 3%;
  border-radius: 10px;
  border: 2px solid black;
}
.adminEventCardDate > .calendarMonthWrapper {
  background: orange;
  border-radius: 10px 10px 0px 0px;
}
.adminEventCardDate > .calendarDateWrapper {
  font-size: 1.5rem;
  display: block;
  margin: auto;
}
.liveEventCardDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(65, 60, 60);
  width: 12%;
  color: white;
}
