.homeWrapper {
  background-image: url('../../assets/images/black.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  padding-top: 6%;
  filter: brightness(300%);
  /* background-color: rgb(116, 113, 113); */
}
.homeLogo {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-45%, -50%);
  width: 75vw;
}
.mainTitle {
  visibility: hidden;
}
